<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        rel="stylesheet"
    />
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" style="text-decoration: none;">{{ site_title }}</a>
        <div>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('newsletter') }}">Newsletter</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
    </nav>    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <p>&copy; {{ footer_config.year }} {{ footer_config.name }} 💻</p>
    <p>
        {% for platform, link in footer_config.social_links.items() %}
            <a href="{{ link }}" target="_blank">{{ platform }}</a>{% if not loop.last %} | {% endif %}
        {% endfor %}
    </p>
</footer>
</html>
